html, body {
    background: var(--bg-back);
    color: var(--fg-title);
    font-family: monospace;
    font-size: 1.05rem;
    margin: 0;
    padding: 0;
    height: 100%;
    /* height: 300vh; */
}

.container {
    height: 100%;
}

a {
    color: var(--fg-title);
    text-decoration: none;

    background: var(--gradient) 
        bottom left/
        var(--underline-width, 0%) 0.1em
        no-repeat;
    
    display: inline-block;
    padding: 0.1em .2em 0.1em;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

a.no-line {
    background: transparent;
}

a.icon {
    font-size: 1.4em;
    height: 28px;
}

a:hover {
    --underline-width: 100%;
}

li {
    list-style: none;
}

.gradient {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link-group {
    background: none;
    border: 1px solid transparent;
    border-radius: 8px;
    width: calc(100% - 16px);
    display: flex;
    flex-direction: row;
    border-color: var(--bg-outline);
    padding: 0 8px;
    margin: 6px 0;
    background-color: var(--bg-front-two-alpha);
    opacity: 0;
}

.link-group-big {
    flex-direction: column;
}

.link-group-big .link-desc {
    margin-left: 0;
}

.link-group:hover {
    border-color: var(--primary);
}

.link-title {
    margin: 0;
    padding: 0;
}

.link-desc {
    margin: 0;
    padding: 0;
    margin-left: auto;
    color: var(--fg-min);
}

@media only screen and (max-width: 1000px) {
    .link-group {
        flex-direction: column;
    }
    .link-desc {
        margin-left: 0;
    }
}

.minimal-text {
    font-size: .8em;
    color: var(--fg-min);
}

h3 {
    margin: 4px;
}

h4 {
    margin: 6px;
}

.animate-text span {
    opacity: 0;
}