html, body {
    background: var(--bg-back);
    color: var(--fg-title);
    font-family: monospace;
    font-size: 1.05rem;
    margin: 0;
    height: 300vh;
}

a {
    color: var(--fg-title);
    text-decoration: none;

    background: var(--gradient) 
        bottom left/
        var(--underline-width, 0%) 0.1em
        no-repeat;
    
    display: inline-block;
    padding: 0.1em .2em 0.1em;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

a:hover {
    --underline-width: 100%;
}

li {
    list-style: none;
}

.gradient {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}