:root {
    --bg-back: #191c24;
    --bg-front: #1f242e;
    --bg-outline: rgb(47, 46, 66);

    --fg-title: hsl(0, 0%, 85%);
    --fg-dampen: hsl(0, 0%, 75%);

    --primary: rgb(231, 89, 236);

    --gradient: linear-gradient(90deg,rgb(230, 120, 120) 0%, rgb(231, 89, 236) 100%);
}