:root {
    --bg-back: #191c24;
    --bg-front: rgb(31, 36, 46);
    --bg-front-alpha: rgba(33, 38, 49, 0.7);
    --bg-front-two-alpha: rgba(38, 44, 56, 0.7);
    --bg-outline: rgb(46, 50, 66);

    --fg-title: hsl(0, 0%, 85%);
    --fg-dampen: hsl(0, 0%, 75%);
    --fg-min: hsl(0, 0%, 50%);

    --primary: rgb(236, 89, 150);

    --gradient: linear-gradient(90deg,rgb(230, 120, 120) 0%, rgb(231, 89, 236) 100%);
}