.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}

.progress-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 2px;
    background: var(--bg-front);
    z-index: 9999;
}



.progress-bar {
    height: 2px;
    background: var(--gradient);
    width: 0%;
} 